@page "/Restore"
@using BlazorApp1.Data
@using BlazorApp1.Models
@inject NavigationManager NavigationManager
@inject Empservice Empservice
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1 class="colorBlue">Employee List</h1>
    <div class="table_detailsemply">
        <table class="employee_table loan_table" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Skills</th>
                    <th>Email</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in forecasts)
                {
                    <tr>
                        <td>@forecast.Name</td>
                        <td>@forecast.Age</td>
                        <td>@forecast.Address</td>
                        <td>@forecast.Skills</td>
                        <td>@forecast.Email</td>
                        <td>

                            <button class="btn btn-danger" @onclick="() => RestoreConfirm(forecast.Id)">Restore</button>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}



